*{
    margin: 0px;
}
#main,#canvas{
    border: 2px solid rgb(249, 247, 247);
}
#canvas{
    width: 60%;
    margin: auto;
    height: 800px;
}
#form-body{
    width: 375px;
    height: 450px;
    margin: auto;
    border: 1px solid gray;
    margin-top: 175px;
    padding: 15px;
}
.headings{
    margin: 3px;
    padding: 4px;
    margin-top: 25px;
}

#pincode{
    width: 200px;
}